<div class="topbar">
  <div class="center-container">
    <div class="topbar-links">
      <a routerLink="/support" routerLinkActive="active">
        <mat-icon>help_outline</mat-icon>
        <span>Support</span>
      </a>
      <a routerLink="/about" routerLinkActive="active">
        <mat-icon>info_outline</mat-icon>
        <span>About Us</span>
      </a>
      <a routerLink="/policy" routerLinkActive="active">
        <mat-icon>security</mat-icon>
        <span>Policy</span>
      </a>
    </div>
  </div>
</div>
